/* =========================
   GLOBAL SAFETY
========================= */

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* Keep this ONLY if you still had overflow issues */
body {
  overflow-x: hidden;
}


/* =========================
   MOBILE NAVBAR (<=768px)
========================= */

@media (max-width: 768px) {

  /* Navbar structure */
  .navbar {
    grid-template-columns: auto auto;
    padding: 0 16px;
    height: 55px;
  }

  .logo img {
    height: 35px;
  }

  /* Hide nav links by default */
  .nav-links {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background-color: #1e2023;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px 0;
    display: none;
  }

  /* Show when toggled */
  .nav-links.active {
    display: flex;
  }

  /* Show hamburger */
  .hamburger {
    display: flex;
  }

  /* Hamburger animation */
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

}