.standings-container{
    max-width:1200px;
    margin:auto;
    padding:60px 40px 120px;
}

.standings-title{
    font-family:'Bebas Neue',sans-serif;
    font-size:64px;
    letter-spacing:2px;
    color:#111;
    text-align:center;
    margin-bottom:50px;
}

.standings-table{
    width:100%;
    border-collapse:collapse;
    background:#111;
    border-radius:20px;
    overflow:hidden;
}

.standings-table thead{
    background:#bb080b;
}

.standings-table th{
    padding:20px;
    color:white;
    text-align:center;
}

.standings-table td{
    padding:20px;
    color:white;
    text-align:center;
}

.standings-table tr:nth-child(even){
    background:#161616;
}

.standings-table tr:hover{
    background:#202020;
}