/* ==========================
   SUPPORT PAGE
========================== */

.support-section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 40px;
}

.support-header {
    margin-bottom: 70px;
}

.support-header p {
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.support-header h1 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.05;
  margin-bottom: 10px;
}

.support-header span {
    font-size: 1.2rem;
    color: #444;
}

/* ==========================
   SPONSOR GRID
========================== */

.sponsor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.sponsor-card {
    background: white;
    border-radius: 22px;
    padding: 40px 25px;
    text-align: center;
    transition: 0.25s ease;
    border: 1px solid rgba(255,255,255,0.05);
}

.sponsor-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.sponsor-card img {
    width: 180px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 25px;
}

.sponsor-card h3 {
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
}

/* ==========================
   MOBILE
========================== */

@media (max-width: 768px) {

    .support-section {
        padding: 60px 20px;
    }

    .support-header h1 {
        font-size: 4rem;
    }

}