{% extends "tournament/base.html" %}
{% load static %}

{% block title %}Contact Us | Legacy Sports{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'tournament/css/contact_us.css' %}">
{% endblock %}

{% block content %}

<section class="contact-page">

  <div class="contact-header">
    <h1>Contact Us</h1>
    <p>Have questions about the tournament? We're here to help.</p>
  </div>

  <div class="contact-card">

    <div class="contact-section"> <!-- Email -->
      <h2>Email</h2>
      <p>Reach out to us directly for tournament inquiries.</p>
      <a href="mailto:info@legacysportscanada.ca" class="contact-link">
        legacysportscanada@gmail.com
      </a>
    </div>

    <div class="contact-divider"></div>

    <div class="contact-section"> <!-- Instagram-->
      <h2>Instagram</h2>
      <p>Stay updated and message us on Instagram.</p>
      <a href="https://instagram.com/legacysports.ca" target="_blank" class="contact-link">
        @legacysports.ca
      </a>
    </div>

    <div class="contact-divider"></div>

    <div class="contact-section"> <!-- Our Linktree, Honestly make a whole seperate place for our media-->  
      <h2>Linktree</h2>
      <p>Check out our other pages</p>
      <a href="https://linktr.ee/legacysportscanada" target="_blank" class="contact-link">
        LegacySports⚡
      </a>
    </div>

  </div>

</section>

{% endblock %}
