{% extends "tournament/base.html" %}
{% load static %}

{% block title %}Free Agent Signup{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{% static 'tournament/css/free_agent.css' %}">
{% endblock %}

{% block content %}
<section class="form-page">

  <div class="signup-hero">
  <h1>Join as a Free Agent</h1>
  <p>Don’t have a team? We’ll connect you.</p>
</div>

  <div class="form-card">
    <form method="POST">
      {% csrf_token %}

      <div class="form-grid">
        <input name="name" placeholder="Your Name" required>

        <select name="gender" required>
          <option value="">Gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>

        <select name="skill" required>
          <option value="">Skill Level</option>
          <option>Casual</option>
          <option>Intermediate</option>
        </select>

        <select name="type" required>
          <option value="">Status</option>
          <option value="solo">Solo Player</option>
          <option value="group">Group Looking</option>
        </select>
      </div>

      <input name="instagram" placeholder="@instagram" required>

      <textarea name="note" rows="4"
        placeholder="Optional (e.g. need 2 players, position, etc.)"></textarea>

      <button type="submit" class="submit-btn">
        Join Pool
      </button>

    </form>
  </div>
</section>
{% endblock %}