{% extends "tournament/base.html" %}
{% load static %}

{% block title %}Home | Legacy Sports{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'tournament/css/index.css' %}">
{% endblock %}

{% block content %}
<main class="home">

  <!-- HERO -->
  <section class="home-hero">
    <div class="home-hero-slides">
      <div class="home-hero-slide active"
        style="background-image: url({% static 'tournament/images/Legacy_Sports_Basketball_2024/image_18.jpg' %});">
      </div>

      <div class="home-hero-slide"
        style="background-image: url({% static 'tournament/images/Legacy_Sports_Basketball_2024/image_23.jpg' %});">
      </div>

      <div class="home-hero-slide"
        style="background-image: url({% static 'tournament/images/Legacy_Sports_Basketball_2024/image_5.jpg' %});">
      </div>
    </div>
    <button class="hero-arrow hero-prev">&#10094;</button>
    <button class="hero-arrow hero-next">&#10095;</button>


    <div class="home-hero-content">
      <h1>LEGACY SPORTS</h1>
      <p>Community-driven tournaments built to feel real.</p>
    </div>

    <div class="home-hero-dots">
      <span class="home-dot active" data-slide="0"></span>
      <span class="home-dot" data-slide="1"></span>
      <span class="home-dot" data-slide="2"></span>
    </div>
    <a href="#next-section" class="home-scroll">
      <span class="scroll-mouse"></span>
    </a>

  </section>

  <section id="next-section" class="home-slices-wrap">
    <section class="home-cta">
      <h2>Want to be part of the next tournament?</h2>
      <p>Register your team or sign up solo as a free agent.</p>

      <div class="home-cta-actions">
        <a href="{% url 'registration' %}" class="cta-btn">Go to Registration</a>
        <a href="{% url 'tourney_info' %}" class="cta-btn ghost">View Tournament Info</a>
      </div>
    </section>

    <hr>

    <section class="home-social">
      <div class="video-center-header">
        <h2>VIDEO CENTRE</h2>
      </div>

      <div class="video-main">
        <iframe width="820" height="515" src="https://www.youtube.com/embed/rpNcygh1DRc?si=aRXayU5xKN3asbhv"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </section>
  </section>

  <hr>

  <!-- IMAGE SLICES -->
  <section class="home-slices-wrap">
    <div class="video-center-header">
        <h2>Our Sports Model</h2>
    </div>
    <div class="home-slices">
      <div class="slice slice-1"></div>
      <div class="slice slice-2"></div>
      <div class="slice slice-3"></div>
      <div class="slice slice-4"></div>
    </div>
  </section>

  <hr>

  <!-- SOCIAL MEDIA SECTION -->
  <section class="home-slices-wrap">
    <section class="home-social">

      <div class="instagram-heading">
        <h2>OUR INSTAGRAM PAGE <a href="https://www.instagram.com/mercedesamgf1" target="_blank" class="instagram-icon"
            aria-label="Follow Legacy Sports on Instagram">
            <i class="fab fa-instagram"></i>
          </a></h2>
      </div>

      <div class="home-social-embeds">
        {% for post in instagram_posts %}
        <a href="{{ post.link }}" target="_blank" class="media-card">

          <div class="media-thumb">
            {% if post.image %}
            <img src="{% url 'instagram_image' %}?url={{ post.image|urlencode }}" />
            {% endif %}
          </div>

          <p class="instagram-caption">
            {{ post.caption|truncatechars:80 }}
          </p>

        </a>
        {% endfor %}
      </div>

    </section>
  </section>
</main>
{% endblock %}
{% block scripts %}
<script src="{% static 'tournament/js/main.js' %}" defer></script>
{% endblock %}