{% extends "tournament/base.html" %}
{% load static %}

{% block title %}Team Registration | Legacy Sports{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'tournament/css/signup.css' %}">
{% endblock %}

{% block content %}
<section class="form-page">

  <div class="form-header">
    <h1>Join the Team</h1>
    <p>All teams must register 6 players. Substitutes are optional.</p>
  </div>

  <div class="form-card">
    <form method="POST" action="{% url 'registration_team' %}">
      {% csrf_token %}

      {% if error %}
      <div class="error-toast">
        ⚠️ {{ error }}
      </div>
      {% endif %}

      <!-- TEAM INFO -->
      <h3>Your Information</h3>

      <div class="team-grid">
        <input name="First Name" placeholder="First Name" required>
        <input name="Last Name" placeholder="Last Name" required>
        <input name="Email" type="email" placeholder="Email" required>
        <input name="Age" type="number" placeholder="Age" min="16">
        <input name="Phone" placeholder="Phone Number Phone" pattern="[0-9+\-\s()]{7,15}"
          title="Enter a valid phone number" required>
        <input name="The role you are interested in?" type="email" placeholder="Captain Email" required>
        <input name="What are your experiences" type="email" placeholder="Captain Email" required>
      </div>

      <!-- WAIVER -->
      <h3>Participation Waiver</h3>

      <div class="waiver-box">
        <p>
          By registering, you agree to the
          <a href="{% url 'waiver' %}" target="_blank" class="waiver-link">
            Legacy Sports Participation Waiver
          </a>.
        </p>
      </div>

      <label class="waiver-checkbox">
        <input type="checkbox" name="agree_waiver" required>
        <span>I confirm that I have read and agree to the waiver.</span>
      </label>


      <button type="submit" id="submitBtn" class="submit-btn">
        Submit Registration
      </button>

    </form>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const rosterSelect = document.getElementById("rosterSize");
    const sub1 = document.getElementById("sub-1");
    const sub2 = document.getElementById("sub-2");

    rosterSelect.addEventListener("change", function () {
      if (this.value === "6") {
        sub1.style.display = "none";
        sub2.style.display = "none";
      } else if (this.value === "7") {
        sub1.style.display = "block";
        sub2.style.display = "none";
      } else if (this.value === "8") {
        sub1.style.display = "block";
        sub2.style.display = "block";
      }
    });
  });
</script>

{% endblock %}