{% extends "tournament/base.html" %}
{% load static %}

{% block title %}Standings | Legacy Sports{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'tournament/css/standing.css' %}">
{% endblock %}

{% block content %}

<section class="standings-container">

    <h1 class="standings-title">
        Tournament Standings
    </h1>

    <table class="standings-table">

        <thead>
            <tr>
                <th>Seed</th>
                <th>Team</th>
                <th>W</th>
                <th>L</th>
                <th>PF</th>
                <th>PA</th>
                <th>Diff</th>
            </tr>
        </thead>

        <tbody>

            {% for item in standings %}
            <tr>

                <td>{{ forloop.counter }}</td>

                <td>
                    <span style="color: {{ item.team.team_color|lower }}">
                        {{ item.team.team_name }}
                    </span>
                </td>

                <td>{{ item.wins }}</td>
                <td>{{ item.losses }}</td>
                <td>{{ item.pf }}</td>
                <td>{{ item.pa }}</td>
                <td>{{ item.diff }}</td>

            </tr>
            {% endfor %}

        </tbody>

    </table>

</section>

{% endblock %}