<table class="standings-table">

<thead>
<tr>
    <th>#</th>
    <th>Team</th>
    <th>GP</th>
    <th>W</th>
    <th>L</th>
    <th>PF</th>
    <th>PA</th>
    <th>DIFF</th>
</tr>
</thead>

<tbody>

{% for team in standings %}
<tr>

<td>{{ forloop.counter }}</td>

<td>
    <span style="color: {{ team.team_color|lower }}">
        {{ team.team_name }}
    </span>
</td>

<td>{{ team.games_played }}</td>
<td>{{ team.wins }}</td>
<td>{{ team.losses }}</td>
<td>{{ team.points_for }}</td>
<td>{{ team.points_against }}</td>
<td>{{ team.point_diff }}</td>

</tr>
{% endfor %}

</tbody>

</table>