{% extends "tournament/base.html" %}
{% load static %}

{% block title %}Support Legacy Sports{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'tournament/css/support.css' %}">
{% endblock %}

{% block content %}

<section class="support-section">

    <div class="support-header">
        <p>OUR PARTNERS</p>
        <h1>PROUDLY SUPPORTED BY</h1>
        <span>
            These organizations help make Legacy Sports possible.
        </span>
    </div>

    <div class="sponsor-grid">

        <!-- Sponsor Card -->

        <div class="sponsor-card">
            <img src="{% static 'tournament/images/Sponsors/Cordi.png' %}"
                 alt="Cordi">
            <h3>Cordi Italian Bakery</h3>
        </div>

        <div class="sponsor-card">
            <img src="{% static 'tournament/images/Sponsors/Krispe.png' %}"
                 alt="Krispy">
            <h3>Krispy Kreme</h3>
        </div>

    </div>

</section>

{% endblock %}